language: php

before_script:
  - ./tests/install-extension.sh
  - composer update --dev

php:
  - 5.4
  - 5.5
  - 5.6

script:
  - php vendor/bin/phpcs --standard=PSR2 --encoding=utf-8 app/
  - phpunit --configuration tests/phpunit.xml