
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute !important;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin-top: 5px;
  height: 55px;
  background-color: #f5f5f5;
}

footer.navbar-default {
    background-color: #fff;
    margin-bottom: 0;
}

#main {
    min-height: 400px;
}

#main > .container {
    margin-top: 61px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse label {
    color: #999;
}

.navbar-text {
    margin-left: 15px;
}

pre {
    padding: 0;
}

/* Extra small devices (phones) */
@media (max-width: 767px) {
    .pull-none {
        float: none!important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* Tablet only */
@media (min-width: 768px) and (max-width: 991px){
    .navbar-form .form-group {
        max-width: 135px;
    }
    .navbar-form .form-group input {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}